<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>
    <link rel="stylesheet" href="style.css" />

</head>
<body>
    <div class="sc-container">
        <h1>Something Went Wrong</h1>
        <p> We apologize for the inconvenience, please try again later.</p>
        <p>For Any Support Email:stylevista@gmail.com</p>
        <img src="Wrong.png" alt="" />
        <a href="order" class="sc-btn">Back to HomePage</a>
    </div>

</body>
</html>