<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Register Here</title>
      <link rel="stylesheet" href="login.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Sign Up
         </div>
         <form action="/registration" method="post">
            <div class="field">
                <input type="text" name="name" required>
                <label>Name</label>
             </div>
            <div class="field">
               <input type="text" name="email" required>
               <label>Email Address</label>
            </div>
            <div class="field">
               <input type="password" name="password" required>
               <label>Password</label>
            </div>
            <div class="field">
                <input type="password" name="Confirm_Password" required>
                <label>Confirm Password</label>
             </div>
            
            <div class="field">
               <input type="submit" value="Register">
            </div>
            <div class="signup-link">
               Already a member? <a href="login.ejs">Login now</a>
            </div>
         </form>
      </div>
   </body>
</html>