<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Payment</title>
    <link rel="stylesheet" href="style.css" />

</head>
<body>
    <div class="sc-container">
        <h1>Thank you for shopping with StyleVista</h1>
        <p>Your order will be delivered soon.</p>
        <img src="./Right.png" alt="" />
        <a href="order" class="sc-btn">Back to HomePage</a>
    </div>

</body>
</html>